<header>
    <div>
        <a id='index-return'>
            <a href="/">
                <img src="/logo.png" alt="logo">
            </a>
        </a>
    </div>

    <div id="nav">
        <a href="/posts">Posts page</a> |
        <a href="/addnewpost">Add new posts</a>
    </div>
    
    <div>
    <img src="/default_avatar.png" alt="User avatar">
    </div>
</header>