<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <section>
    
    <div class="add_post_container">
        <div class="add_post_box">
            <div class="post_fields">
                <!--div class="post_command"-->
                <p style="font-weight: bold ">Add a new post:</p> <br>
                <form action="/posts" method="POST">
                    <label for="title">Post title:</label>
                    <input type="text" id="title" name="title" required><br><br>
                    <label for="text">Post text:</label>
                    <input type="text" id="text" name="text" required><br><br>
                    <br><br>
                    <input type="submit" value="Submit">
                    <!--button>Submit</button-->
                </form>
            </div>
        </div>
    </div>
    </section>
  
    <%- include('./partials/footer.ejs') %>
</body>
</html>