<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <section>
    <br>
    <h2>Add a new post:</h2>
    <br>
    <div class="add_post_container">
        <div class="post_fields"></div>
        <form action="/posts" method="POST">
            <label for="title">Post title:</label>
            <input type="text" id="title" name="title" required><br><br>
            <label for="text">Post text:</label>
            <input type="text" id="text" name="text" required><br><br>
            <label for="photourl"> Photo URL:</label>
            <input type="text" id="photourl" name="photourl"></textarea><br><br>
            <button>Submit</button>
        </form>
    </div>
    </section>
  
    <%- include('./partials/footer.ejs') %>
</body>
</html>